


.collection-container {
    display: flex;
    flex-direction: row;
    margin: 30px 80px 0px 80px;
    width: 100%;
    flex-wrap: wrap;
    background-color: black;
}



// .movie-cover {
//     margin-bottom: 15px;
//     width: 24%;
//     height: 800px;
//     background-color: white;
//     border: 1px solid gray;
// }



// .innerDiv {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
// }


.innerDiv > ul {
    list-style-type: none;
    
}